<div class="concepts-tasks">
  <div class="row">
    <div class="section-header">
      <h4>¿QUÉ HACEMOS?</h4>
      <p>Estas son nuestras iniciativas</p>
      <%= image_tag('connector.svg', height: "80px", width: "50px") %>
    </div>
  </div>
  <div class="row tasks">
    <div class="task col-xs-3">
      <div class="task-icon">
        <div class="icon-container">
          <i class="fa fa-paper-plane"></i>
        </div>
      </div>
      <h3>Eventos</h3>
      <%= image_tag('hr_block.svg', height: "10px", width:"40px")%>
      <p>
        Espacio de interacción e intercambio de conocimientos para personas que apuestan por
        la innovación, el emprendimiento interdisciplinario y el trabajo colaborativo.
      </p>
    </div>
    <div class="task col-xs-3">
      <div class="task-icon">
        <div class="icon-container">
          <i class="fa fa-spinner"></i>
        </div>
      </div>
      <h3>Comunidad</h3>
      <%= image_tag('hr_block.svg', height: "10px", width:"40px")%>
      <p>
        Espacio mensual en diferentes puntos del país para formar
        comunidades con espíritu emprendedor y generar “networking”.
      </p>
    </div>
    <div class="task col-xs-3">
      <div class="task-icon">
        <div class="icon-container">
          <i class="fa fa-pencil"></i>
        </div>
      </div>
      <h3>Educación</h3>
      <%= image_tag('hr_block.svg', height: "10px", width:"40px")%>
      <p>
        Talleres y charlas para grupos menores de edad enfocados en creatividad,
        empoderamiento joven y las formas de alcanzar sueños; con metodologías de emprendimiento.
      </p>
    </div>
    <div class="task col-xs-3">
      <div class="task-icon">
        <div class="icon-container">
          <i class="fa fa-link"></i>
        </div>
      </div>
      <h3>Alianzas</h3>
      <%= image_tag('hr_block.svg', height: "10px", width:"40px")%>
      <p>
        Trabajar en conjunto con organizaciones o grupos de personas con el fin de desarrollar un proyecto
        o plantear una colaboración mutua de comunicación o servicios.
      </p>
    </div>
  </div>
</div>
