<div class="row" id="team">
				<h2>Nuestro equipo</h2>
        <h5>orem ipsum dolor sit amet, consectetur adipiscing elit. In semper</h5>
				<div class="ch-grid">
						<div class="ch-item">
              <div class="ch-itemInner">
							<%= image_tag('CarlosVegaPorras.png', class: 'img-responsive') %>
              <div class="ch-member blueteam"></div>
            </div>
            <div class="ch-info blueteam-p">
               <h3>Carlos Vega Porras</h3>
               <p>Coordinador general</p>
               <ul class="social-media">
                <li><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            </ul>
              </div>
						</div>
            <div class="ch-item">
              <div class="ch-itemInner">
              <%= image_tag('KevinBarquero.png', class: 'img-responsive') %>
              <div class="ch-member fucsiateam"></div>
            </div>
            <div class="ch-info fucsiateam-p">
               <h3>Kevin Barquero</h3>
               <p>Coordinador general</p>
               <ul class="social-media">
                <li><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            </ul>
              </div>
            </div>
            <div class="ch-item">
              <div class="ch-itemInner">
              <%= image_tag('NikoleArguedas.png', class: 'img-responsive') %>
              <div class="ch-member yellowteam"></div>
            </div>
            <div class="ch-info yellowteam-p">
               <h3>Niko Arguedas</h3>
               <p>Diseñadora </p>
               <ul class="social-media">
                <li><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            </ul>
              </div>
            </div>
             <div class="ch-item">
              <div class="ch-itemInner">
              <%= image_tag('KevinBarquero.png', class: 'img-responsive') %>
              <div class="ch-member lightblueteam"></div>
            </div>
            <div class="ch-info lightblueteam-p">
               <h3>Kevin Barquero</h3>
               <p>Coordinador general</p>
               <ul class="social-media">
                <li><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            </ul>
              </div>
            </div>
             <div class="ch-item">
              <div class="ch-itemInner">
              <%= image_tag('KevinBarquero.png', class: 'img-responsive') %>
              <div class="ch-member violetteam"></div>
            </div>
            <div class="ch-info violetteam-p">
               <h3>Kevin Barquero</h3>
               <p>Coordinador general</p>
               <ul class="social-media">
                <li><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            </ul>
              </div>
            </div>
   </div>
 </div>
       