<div class="row" id="team">
				<h2>Nuestro equipo</h2>
        <h5>orem ipsum dolor sit amet, consectetur adipiscing elit. In semper</h5>
				<div class="ch-grid">
						<div class="ch-item">
              <div class="ch-itemInner">
							<%= image_tag('CarlosVegaPorras.png', class: 'img-responsive') %>
              <div class="ch-member"></div>
            </div>
            <div class="ch-info">
               <h3>Carlos Vega Porras</h3>
               <p>Coordinador general</p>
               <div class="social-media-management">
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-facebook"></i>
                  </div>
                </div>
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                </div>
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-google"></i>
                  </div>
                </div>
              </div>
              </div>
						</div>
            <div class="ch-item">
              <div class="ch-itemInner">
              <%= image_tag('KevinBarquero.png', class: 'img-responsive') %>
              <div class="ch-member"></div>
            </div>
            <div class="ch-info">
               <h3>Kevin Barquero</h3>
               <p>Coordinador general</p>
               <div class="social-media-management">
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-facebook"></i>
                  </div>
                </div>
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                </div>
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-google"></i>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="ch-item">
              <div class="ch-itemInner">
              <%= image_tag('NikoleArguedas.png', class: 'img-responsive') %>
              <div class="ch-member"></div>
            </div>
            <div class="ch-info">
               <h3>Niko Arguedas</h3>
               <p>Diseñadora </p>
               <div class="social-media-management">
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-facebook"></i>
                  </div>
                </div>
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                </div>
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-google"></i>
                  </div>
                </div>
              </div>
              </div>
            </div>
             <div class="ch-item">
              <div class="ch-itemInner">
              <%= image_tag('KevinBarquero.png', class: 'img-responsive') %>
              <div class="ch-member"></div>
            </div>
            <div class="ch-info">
               <h3>Kevin Barquero</h3>
               <p>Coordinador general</p>
               <div class="social-media-management">
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-facebook"></i>
                  </div>
                </div>
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                </div>
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-google"></i>
                  </div>
                </div>
              </div>
              </div>
            </div>
             <div class="ch-item">
              <div class="ch-itemInner">
              <%= image_tag('KevinBarquero.png', class: 'img-responsive') %>
              <div class="ch-member"></div>
            </div>
            <div class="ch-info">
               <h3>Kevin Barquero</h3>
               <p>Coordinador general</p>
               <div class="social-media-management">
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-facebook"></i>
                  </div>
                </div>
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                </div>
                <div class="icon-container">
                  <div class="social-media-icon">
                    <i class="fa fa-google"></i>
                  </div>
                </div>
              </div>
              </div>
            </div>
   </div>
 </div>
       